body{
    background-color: #FFFFE4;
    margin: 0;
    padding: 1rem;
    font-family: "Helveltica", sans-serif;
}

input {
    border: none;
    border-bottom: 2px solid grey;
  }

div{
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
padding: 1rem;
border-radius: 1px;
width:15rem;
height:15rem;
margin:10px 20px 20px;
font-weight: bold;
font-size: 14px;
}

header{
    width: 100%;
    display: inline-block;
    height: 110px;
    background-color: #D8DCD6;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
    
  
    h2 {
        padding-right: 50px;
      }

      img{
        width: 250px;
      }

